$widthnavdecs:100px;
$heightnavmob:60px;

$widthwithnav: calc(100% - $widthnavdecs);
$widthwithaoutnav: 100%;


$marginwithnav: $widthnavdecs;
$marginwithaoutnav: 0;

/* Colors */

$primary: #fff;
$error: #ff5353;
$accent: #43dd;
$linearWel: linear-gradient(to right, red 10%, rgba(#43dd, 1) 80%);