$widthwithnav: calc(100% - 70px);
$widthwithaoutnav: 100%;

$widthnavdecs:60px;
$heightnavmob:60px;

$marginwithnav: 70px;
$marginwithaoutnav: 0;

/* Colors */

$primary: #fff;
$error: #ff5353;
$accent: #43dd;
$linearWel: linear-gradient(to right, red 10%, rgba(#43dd, 1) 80%);